openapi: 3.0.4
info:
  title: SKOS
  description: |-
    SKOS ConceptScheme en Concept Swagger resolver.
  version: 1.0.0
externalDocs:
  description: Contacteer OSLO via oslo-support@vlaanderen.be.
servers:
  - url: https://data.vlaanderen.be
tags:
  - name: SKOS
    description: 'De resolver dienst om SKOS URIs te resolven en alle informatie over SKOS Concepts op te vragen. Server is https://data.vlaanderen.be/'
paths:
  /id/concept/{ConceptScheme}:
    get:
      tags:
        - SKOS
      summary: SKOS ConceptScheme opvragen.
      description: Vraag het schema op van de SKOS concepten.
      parameters:
        - name: ConceptScheme
          description: 'Naam van het SKOS ConceptScheme'
          in: path
          required: true
          schema:
            type: string
          examples:
            FinaliteitType:
              value: 'FinaliteitType'
              description: 'Type finaliteit'
      responses:
        '200':
          description: Opvraging succesvol.
          content:
            'application/ld+json':
              schema:
                $ref: "#/components/schemas/JsonLdRoot"
              examples:
                SKOSConceptSchemeFinaliteitType:
                  summary: 'FinaliteitType SKOS ConceptScheme'
                  externalValue: https://raw.githubusercontent.com/Informatievlaanderen/OSLOthema-KVS/refs/heads/main/resources/swagger/R1/finaliteittype.json
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/InvalidAuthorization'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/UnexpectedServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'

  /id/concept/{ConceptScheme}/{Concept}:
    get:
      tags:
        - SKOS
      summary: SKOS Concept opvragen.
      description: Vraag het label, de definitie en URI op van een SKOS Concept.
      parameters:
        - name: ConceptScheme
          description: 'Naam van het SKOS ConceptScheme'
          in: path
          required: true
          schema:
            type: string
          examples:
            FinaliteitType:
              value: 'FinaliteitType'
              description: 'Type finaliteit'
        - name: Concept
          description: 'Naam van het SKOS Concept.'
          in: path
          required: true
          schema:
            type: string
          examples:
            GPMI:
              value: 'GPMI'
              description: 'GPMI'
      responses:
        '200':
          description: Opvraging succesvol.
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/JsonLdRoot"
              examples:
                SKOSConceptGPMI:
                  summary: 'GPMI SKOS Concept'
                  externalValue: https://raw.githubusercontent.com/Informatievlaanderen/OSLOthema-KVS/refs/heads/main/resources/swagger/R1/gpmi.json
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/InvalidAuthorization'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/UnexpectedServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'

components:
  responses:
    #HTTP Status 400
    BadRequest:
      description: "Invalid data supplied"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
    #HTTP Status 401
    InvalidAuthorization:
      description: "Invalid authorization"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
    #HTTP Status 403
    Forbidden:
      description: "Authentication failed"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
    #HTTP Status 404
    NotFound:
      description: "Resource not found"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
    #HTTP Status 412
    PreConditionFailed:
      description: Precondition Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
    #HTTP Status 500
    UnexpectedServerError:
      description: "Unexpected Server Error"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
    #HTTP Status 502
    BadGateway:
      description: "Bad Gateway"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
    #HTTP Status 503
    ServiceUnavailable:
      description: "Service unavailable"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
    #HTTP Status 504
    GatewayTimeout:
      description: "Gateway Timeout"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
  schemas:
    ErrorMessage:
      required:
        - detail
        - title
      type: object
      properties:
        type:
          type: string
          description: "A URI reference that identifies the problem type. This specification encourages that, when de-referenced, it provide human-readable documentation for the problem type. When this member is not present, its value is assumed to be about:blank."
        title:
          type: string
          description: "A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation."
        status:
          type: string
          description: "The HTTP status code generated by the origin server for this occurrence of the problem."
        detail:
          type: string
          description: "A human-readable explanation specific to this occurrence of the problem."
        instance:
          type: string
          description: "A URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if de-referenced."
      description: "A representation of a generic error message."

    JsonLdRoot:
      type: object
      properties:
        # JSON-LD @context is an array with URIs or an object that maps an URI onto a label.
        # "@context": [
        #   "http://example.com/myContext",
        #   {
        #     "ex2": "http://example.com/myContext2"
        #   }
        # ]
        '@context':
          type: array
          description: "JSON-LD's context which defines how the JSON-LD keys are mapped to URIs."
          items:
            anyOf:
              - type: object
                properties:
                  'SKOS':
                    type: string
                    description: 'URI for W3C SKOS vocabulary'
                    format: uri
                    enum: ['http://www.w3.org/2004/02/SKOS/core#']
        # JSON-LD @graph contains the data objects which is an array with a specific list of possible objects.
        # "@graph": [
        #  ...
        # ]
        '@graph':
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/SKOSConcept"
              - $ref: "#/components/schemas/SKOSConceptScheme"
          minItems: 0

    SKOSConcept:
      type: object
      description: "SKOS Concept."
      properties:
        '@id':
          type: string
          format: uri
          description: 'URI van het Concept.'
        '@type':
          type: string
          description: "Object type."
          enum: ['SKOS:Concept']
        'SKOS:prefLabel':
          type: object
          properties:
            '@value':
              type: string
              description: "JSON-LD's Literal string value."
            '@language':
              type: string
              description: "The language in which the Literal string is written."
              enum: ['nl']
        'SKOS:definition':
          type: object
          properties:
            '@value':
              type: string
              description: "JSON-LD's Literal string value."
            '@language':
              type: string
              description: "The language in which the Literal string is written."
              enum: ['nl']
        'SKOS:inscheme':
          type: object
          properties:
            '@id':
              type: string
              format: uri
        'SKOS:topConceptOf':
          type: object
          properties:
            '@id':
              type: string
              format: uri
      required:
        - '@id'
        - '@type'
        - 'SKOS:prefLabel'
        - 'SKOS:definition'
        - 'SKOS:inscheme'
        - 'SKOS:topConceptOf'

    SKOSConceptScheme:
      type: object
      description: "SKOS ConceptScheme."
      properties:
        '@id':
          type: string
          format: uri
          description: 'URI van het ConceptScheme.'
        '@type':
          type: string
          description: "Object type."
          enum: ['SKOS:ConceptScheme']
        'SKOS:prefLabel':
          type: object
          properties:
            '@value':
              type: string
              description: "JSON-LD's Literal string value."
            '@language':
              type: string
              description: "The language in which the Literal string is written."
              enum: ['nl']
        'SKOS:definition':
          type: object
          properties:
            '@value':
              type: string
              description: "JSON-LD's Literal string value."
            '@language':
              type: string
              description: "The language in which the Literal string is written."
              enum: ['nl']
      required:
        - '@id'
        - '@type'
        - 'SKOS:prefLabel'
        - 'SKOS:definition'
