{% extends "impl.j2" %}

{% block summary %}
<p>Klant Volg Systeem is een implementatiemodel dat toelaat om gegevens uit te wisselen over trajecten bij VDAB en zijn partners om te opvolging van werkzoekenden te verzekeren.</p>
{% endblock %}
